<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="sidebar">
        <a href="homepage.html"><img src="../static/logo.png" alt="Logo"></a>
        <button onclick="location.href='homepage.html'">Home</button>
        <button onclick="location.href='report.html'">Reports</button>
        <button onclick="location.href='events.html'">Events</button>
    </div>
    <div class="main-content">
        <h1>Report Page</h1>
        <h2>Search for Session</h2>
        <form>
            <input type="text" placeholder="Enter Session">
            <button>Search</button>
        </form>
        <h2>Event Categories</h2>
        <ul>
            <li>Event A - <strong>Merit:</strong> 5</li>
            <li>Event B - <strong>Merit:</strong> 10</li>
        </ul>
    </div>
</body>

</html>